# Node.js
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Dependency directories
pids
*.pid
*.seed
*.pid.lock

# dotenv environment variables file
.env

# Compiled binary addons (replace "build" with your binary's output directory)
build/Release

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Yarn
yarn-error.log

# VSCode directories
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

# TypeScript
*.tsbuildinfo

# Testing
coverage/

rest.http
